# Server
PORT=3001

# Firebird (Microsip)
FB_HOST=localhost
FB_PORT=3050
FB_DATABASE=C:\Microsip datos\MUEBLERA_SNP.fdb
FB_USER=SYSDBA
FB_PASSWORD=masterkey
FB_POOL_SIZE=1000
FB_LOWERCASE_KEYS=false

# MongoDB
MONGO_URL=mongodb://localhost:27017
MONGO_DB=msp

# API Microsip (REST)
MICROSIP_API_BASE_URL=https://localhost:44320/api/
